:root {
	--cc-background: #c2e7ff;
	--cc-font-color: #001d35;
	--cc-window-bg: var(--cc-background);
	--cc-popup-bg: var(--cc-background);
	--cc-title-text-color: var(--cc-font-color);
	--cc-message-text-color: var(--cc-font-color);
	--cc-message-link-color: var(--cc-font-color);
	--cc-message-link-font-weight: 600;
	--cc-settings-separator-color: #001d35;
	--cc-popup-text-color: var(--cc-font-color);
	--cc-btn-close-color: var(--cc-font-color);
	--cc-btn-close-color-hover: #001d35;
	--cc-btn-radius: 50px;

	--cc-btn-accept-bg: #388E3C;
	--cc-btn-accept-bg-hover: #1B5E20;
	--cc-btn-accept-text-color: #ffffff;
	--cc-btn-accept-border: 0;

	--cc-btn-reject-bg: #D32F2F;
	--cc-btn-reject-bg-hover: #B71C1C;
	--cc-btn-reject-text-color: #ffffff;
	--cc-btn-reject-border: 0;

	--cc-btn-info-bg-hover: #81D4FA;
	--cc-btn-info-text-color: #00639c;
	--cc-btn-info-border: 0;

	--cc-btn-settings-bg: var(--cc-btn-info-bg);
	--cc-btn-settings-bg-hover: var(--cc-btn-info-bg-hover);
	--cc-btn-settings-text-color: var(--cc-btn-info-text-color);
	--cc-btn-settings-border: 0;

	--cc-btn-settings-accept-bg: var(--cc-btn-accept-bg);
	--cc-btn-settings-accept-bg-hover: var(--cc-btn-accept-bg-hover);
	--cc-btn-settings-accept-text-color: var(--cc-btn-accept-text-color);
	--cc-btn-settings-accept-border: 0;

	--cc-btn-settings-select-bg: var(--cc-btn-info-bg);
	--cc-btn-settings-select-bg-hover: var(--cc-btn-info-bg-hover);
	--cc-btn-settings-select-text-color: var(--cc-btn-info-text-color);
	--cc-btn-settings-select-border: 0;
}
